{% extends "base.html" %}
{% block content %}
<style>
    @media (max-width:767px) {
        #about{
            margin-top: 80px !important;
            padding: 20px ;
        }
    }
</style>
  <div id="about" style="justify-content: center; align-items: center; text-align: center; margin-top: 220px; ">
    <h3>ॐ नमो भगवते रुद्राय नमः</h3>
    <br>
    <p>The temple trustee is responsible for overseeing all the activities and functions that take place within the temple, 
        <br>as well as managing the donations that are given by devotees and ensuring that they are utilized for the betterment of the temple and its community.</p>
<br>
  <div style="display: flex; flex-direction: row; column-gap: 30px; justify-content: center;">
    <h5>Trustee-President:- Pratima Devi Rana</h5>
    <h5>Secratary:- Jai Raj Rana</h5>
    <h5>Vice President:- Prateek Rana</h5>
  </div>
  </div>
{% endblock content %}